.content-global{

	.content-content{

		position: absolute!important;
		bottom : 0;
		height : 70px;
		overflow: hidden;
		transition : height 1s;

		header {
			display: none;
		}

		nav {

			height : 0px!important;

			.menu{
				position : fixed;
				top : 20px;
				left : 20px;  

				> a{
					background-color: transparent!important;
				}

				.add-star{
					top : -48px;

					input,
					input:focus
					input:active,
					input:hover,
					input:visited {
						top : -8px;
					}

					.add-restaurant-btn{
						top : -8px;
					}
				}

				.icon-menu:before{
					content : "more_vert";
				}
			}


		}

		.content-chip{
			display: none;
		}

		.content-list-wrapper{
			height : auto;

			.list-display{
				display: flex;
				height : 70px;
				justify-content: center;
			}
			.content-list{
				height : ~"calc(100vh - 70px)";
				padding-right: 30px;
			}
		}
	}

	.box-container{
		left : -100%!important;
		height : 100vh;
		overflow : visible;
		z-index: 510;
	}

	.up-content-content{
		height : 100vh;
	}
}